@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
}

.game-board {
    width:100%;
    height: 500px;
    border-bottom: 7px solid rgb(10, 140, 53);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87ceeb, #e8f6ff)
}
.pipe {
    position: absolute;    
    width: 100px;
    bottom: 0;
    animation: pipe-animation 1.6s infinite linear;
}


.mario {
    position: absolute;
    width: 120px;
    bottom: 0;    
}

.jump {
    animation: jump 500ms ease-out;
}

@keyframes pipe-animation {

    from {
    right: -80px;
    }
    to {
    right: 100%;
    }
}


@keyframes jump {
    0% {
        bottom: 0;
    }
    40% {
        bottom: 150px;
    }
    50% {
        bottom: 150px;
    }
    60% {
        bottom: 150px;
    }
    100%{
        bottom: 0;
    }
}

.time {
    font-size: 20px;
    position: relative;
    text-align: center;
    background-color: black;
    color: white;
}

.home-img{
    width:100%;
    height: 500px;
        position: absolute;
        margin: 0 auto;
}

#btn {
position: absolute;
border: 1px solid black;
border-radius: 10px;
margin-left: 50%;
bottom: 50%;
width: 100px;
background-color: red;
color: white;
}